set timeout=10
set default=0

insmod all_video
insmod png
insmod gfxterm



set fontsize=64

set gfxmode=1920x1080,auto
set gfxpayload=keep

loadfont /boot/الخطوط/الخط.pf2

terminal_output gfxterm

background_image --mode=stretch /boot/الخلفية.png

menuentry " تشغيل نظام العرب                                                                                                            " {
    multiboot2 /boot/النواه.elf
    module2 /boot/الوسيط.img
    boot
}

menuentry "الطرفية(متوقف حاليا بسبب الانتقال للوضع الرسومي!                                                                                         " {
    set gfxpayload=text
    terminal_output console
    multiboot2 /boot/النواه.elf text=1
    boot
}
